{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}

    <a class="button button--add" href="{{ path('app_student_new') }}">Create new</a>

    {% include 'widget/collection/_table.html.twig' with {
        'entityName':   'student',
        'collection':   students,
        'colTitles':    {
            1:  'id',
            2:  'Prénom',
            3:  'Nom de famille',
        }
    } %}

{% endblock %}
