{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

    <a class="button button--add" href="{{ path('app_category_new') }}">Ajouter</a>

    {% include 'widget/collection/_table.html.twig' with {
        'entityName':   'category',
        'collection':   categories,
        'colTitles':    {
            1: 'id',
            2: 'Catégorie',
        }
    } %}

{% endblock %}
