{% extends 'ABSTRACT/base.html.twig' %}


{% block body %}
    {{ include('_COMPONENT/form/_new_edit.html.twig') }}

    <div class="entity__new__buttons">
        {{ include('_COMPONENT/button/crud/_index.html.twig') }}
    </div>
{% endblock %}
