{% extends 'base.html.twig' %}


{% block title %}{{ entityName }}{% endblock %}

{% block body %}

    <a class="button button--add" href="{{ path('app_'~entityName~'_new') }}">Ajouter</a>

    {% include 'widget/collection/_table.html.twig' with {
        'entityName':   entityName,
        'collection':   collection,
        'colTitles':    colTitles,
    } %}

{% endblock %}