{% extends 'base.html.twig' %}

{% block title %}Évaluations{% endblock %}

{% block body %}

    <a class="button button--add" href="{{ path('app_evaluation_new') }}">Ajouter</a>

    {% include 'widget/collection/_table.html.twig' with {
        'entityName': 'evaluation',
        'collection': evaluations,
        'colTitles': {
            1:'id',
            2:'Date',
            3:'Étudiant',
            4:'Note',
        }
    } %}
{% endblock %}
