.button
  display: block
  width: fit-content
  margin: 0.2em
  text-decoration: none
  text-align: center
  padding: 8px 12px
  border-width: 1px
  border-style: solid
  border-color: black
  border-radius: 6px


  &--add
    background-color: green
    color: white
    border: none


  &--show
    background-color: green
    color: white
    border: none


  &--edit
    background-color: dodgerblue
    color: white
    border: none


  &--delete
    background-color: red
    color: white
    border: none
