.list
  width: auto
  border: solid 1px black
  border-collapse: separate

  &__element

    &__value
      border: solid 1px black

    &__action-buttons
      display: flex
      flex-direction: row
      justify-content: flex-end
      align-items: center
