<ul class="menu-navigation">
    <li><a href="{{ path('app_home') }}">Accueil</a></li>
    <li><a href="{{ path('app_category_index') }}">Catégories</a></li>
    <li><a href="{{ path('app_student_index') }}">Étudiants</a></li>
    <li><a href="{{ path('app_evaluation_index') }}">Évaluations</a></li>
</ul>