{#
# @param    path                route appelée par l'appuis sur le bouton
# @param    cssClassModifier    modifiers de classe css du bouton
# @param    text                texte affiché dans le bouton
# @param    onClick             javascript appelé au click
#}


{% set buttonClasses = 'button' %}

{% if cssClassModifier is defined %}
    {% set buttonClasses = buttonClasses~' '~buttonClasses~'--'~cssClassModifier | lower %}
{% endif %}

<a class="{{ buttonClasses }}"
        {% if path is defined %}
            href="{{ path }}"
        {% endif %}
>{{ buttonLabel | default("MysteriousButton") }}</a>