<tr class="list__element">
    {% for value in values %}
        <td class="list__element__value">{{ value }}</td>
    {% endfor %}
    <td class="list__element__action-buttons">
        {% include 'widget/button/crud/_read.html.twig'     with { 'entityName': entityName, 'element': element } %}
        {% include 'widget/button/crud/_update.html.twig'   with { 'entityName': entityName, 'element': element } %}
        {% include 'widget/button/crud/_delete.html.twig'   with { 'entityName': entityName, 'element': element } %}
    </td>
</tr>
