{% set buttonClass = 'button' %}

{% if cssClassModifier is defined %}
    {% set buttonClasses = buttonClass~' '~buttonClass~'--'~cssClassModifier | lower %}
{% else %}
    {% set buttonClasses = buttonClass | lower %}
{% endif %}

{% if not text is defined %}
    {% set text='must define \'text\' in include' %}
{% endif %}

{% if onClick is defined %}
    {% set onClickAction = 'onClick="'~onClick~'"' %}
{% endif %}

<a href="{{ href }}" class="{{ buttonClasses }}">{{ text }}</a>