<table class="table entity__show__table">
    <tbody>
    {% for label, value in showedValues %}
        <tr>
            <th class="label">{{ label }} :</th>
            <td class="value">{{ value }}</td>
            {# ### REFAC ### #}
        
        </tr>
    {% endfor %}
    </tbody>
</table>