<nav class="menu menu--navigation">
    <a class="menu-item" href="{{ path('app_home') }}">Accueil</a>
    <a class="menu-item" href="{{ path('app_student_index') }}">Étudiants</a>
    <a class="menu-item" href="{{ path('app_category_index') }}">Catégories</a>
    <a class="menu-item" href="{{ path('app_evaluation_index') }}">Évaluations</a>
</nav>